@import '_nullstyle';

.wrapper {
  min-height: 100%;
  overflow: hidden;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
}
.todo {
  max-width: 1000px;
  margin: 100px auto 100px auto;
  display: flex;
  flex-flow: column;
  
    &__form{
      margin-bottom: 20px;
    }
		&__title {
      padding: 30px 300px;
      font-size: 90px;
      background: #32fa99;
      margin: 0px 0px 50px 0px;
      border-radius: 20px;
      text-align: center;
		}
		&__input {
      width: 900px;
      border: 1px solid #000;
      border-radius: 5px;
      padding: 10px 5px;
      font-size: 20px;
		}
		&__button {
      background: #32fa99;
      padding: 11.2px 5px;
      font-size: 20px;
      border-radius: 5px;
		}
		&__box {
      font-size: 19px;
		}
}
.tasks-list{
  transition: 0.3s;
  margin: 0px 0px 0px -40px;
  ul{
    margin: 0px 0px 0px -50px;
  }
  &__cnt{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    align-items: flex-start;
    
  }
  &__info{
    transition: 0.2s;
    display: flex;
    p {
      margin: 0px 0px 0px 10px;
      transition: 0.2s;
    }
    align-items: center;
    justify-content: space-around;
    input{
      transition: 0.2s;
      width: 20px;
      height: 20px;
      cursor: pointer;
      
    }
    transition: 0.2s;
  }
  &__date{
    transition: 0.4s;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &:hover {
      transition: 0.4s;
    }
  }
  &__time{
    transition: 0.4s;
    margin: 0px 10px 0px 0px;
  }
  &__delete{
    transform: rotate(45deg);
    font-size: 30px;
    color: red;
    cursor: pointer;
    transition: 0.6s;
  }
}
.opapa {
  opacity: 0.4;
  transition: 0.6s;
  transform: rotate(0deg);
}
.clear-all {
  transition: 0.4s;
  font-size: 20px;
  cursor: pointer;
  &:hover {
    color: red;
  }
  margin: 0px 0px 25px 0px;
}
.disp-none{
  transition: 0.4s;
  display: none;
}
.my-tasks-box{
  transition: 0.4s;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  cursor: pointer;
  font-size: 30px;
}
.todo__task {
  transition: 0.4s;
  background: #32fa99;
  border-radius: 3px;
}

.todo__box{
  transition: 0.4s;
}
.my-tasks {
  transition: 0.4s;
  &__img {
    width: 25px;
    height: 25px;
    transform: rotate(180deg);
  }
}
.rot {
  transform: rotate(90deg);
}