@import "_nullstyle";

.wrapper {
   min-height: 100%;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	overflow: hidden;
}
.header {
	
}
.container {
	max-width: 860px;
   margin: 0 auto;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
.todoshka {
	margin: 100px 0px;
	justify-content: center;
	display: flex;
	flex-flow: column;
	
	
	&__logo {
		width: 100%;
		text-transform: uppercase;
		font-size: 39px;
		padding: 16px 0px;
		background: yellow;
		text-align: center;
		box-shadow: 1px -1px 20px black;
	}

	&__form {
		
		margin-top: 10px;
		display: flex;
		justify-content: space-between;
	}

	&__input {
		transition: 0.5s;
		font-size: 20px;
		width: 88%;
		padding: 1px 1px;
		border: 1px solid black;
		&:focus{
			box-shadow: 1px -1px 20px black;
		}
	}

	&__btn {
		transition: 0.5s;
		color: aliceblue;
		background-color: orange;
		padding: 10px 10px;
		font-size: 20px;
		margin: 0px 5px 0px 5px;
		width: 11%;
		&:hover{
			box-shadow: 1px 1px 20px aquamarine;
		}
	}
}
.result{
	margin: 20px 0px;
	font-size: 20px;
	text-transform: capitalize;
	
	background: yellow;
	font-style: italic;
}
.check{
	margin: 0px 4px;
}
.respan{
	
}
.times{

}
.delete{
	font-size: 40px;
	transform: rotate(45deg);
	color: red;
	margin-left: 10px;
	cursor: pointer;
}
.reka{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.fire{
	display: flex;
	align-items: center;
}
.nextdoor{
	display: flex;
	align-items: center;
}